/*主页导航栏部分*/
.nav{
	width: 100%;
}
nav
{
    height: 95px;
	width:1380px;
	margin:0 auto;
    background-color: #fff;
}
.nav .logo
{
    display: block;
    float: left;

    width: 180px;
    height: 65px;
    padding-top: 30px;

    color: pink;
}
.nav ul
{
    float: left;

    height: 95px;
}

.nav a img
{
    width: 35px;
    height: 35px;

    vertical-align: middle;
}
.nav li
{
    display: block;
    float: left;
}
.nav li:nth-child(1)
{
    font-family: bold;
    font-weight: bold;

    background-color: yellow;
}
.nav li a
{
    font-size: 18px;
    line-height: 95px;

    display: block;

    height: 95px;
    padding: 0 25px;

    color: black;
}
.search
{
    position: relative;

    float: left;
}
.search input
{
    width: 300px;
    height: 25px;
    margin-top: 35px;
    margin-left: 170px;
    padding-left: 35px;

    border: 1px solid #f5f5f5;
    outline: none;
    background-color: #f5f5f5;
}
.search input::placeholder
{
    color: #d1d1d1;
}
.search-icon
{
    position: absolute;
    top: 38px;
    left: 175px;

    width: 20px;
    height: 20px;

    background: url('../img/search.png');
    background-size: cover;
}
.login
{
    line-height: 95px;

    float: right;

    margin-left: 20px;

    color: #d1d1d1;
}
/*主页主体部分*/
.content
{
    height: 3000px;
}
.nav-small
{
    width: 1180px;
    height: 65px;
    padding-left: 200px;

    background-color: #fff;
}
.nav-small a
{
    position: relative;
    z-index: 1;

    display: inline-block;

    margin-top: 25px;
    margin-right: 25px;

    color: black;
}
.nav-small a:nth-child(1)
{
    font-weight: bold;
}
/*轮播图*/
.loop
{
    position: relative;

    overflow: hidden;

    height: 420px;
}
.loop .loop-img
{
    position: relative;
    top: 0;
    left: -1400px;

    width: 9800px;
    height: 420px;
}
.loop .loop-img li
{
    position: relative;

    float: left;
}
.loop .loop-img li img
{
    position: relative;
    z-index: 1;

    width: 1400px;
    height: 340px;

    vertical-align: bottom;
}
.loop .loop-img .blur
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    width: 1380px;
    height: 400px;

    filter: blur(26px);
}
.arrow
{
    position: absolute;
    z-index: 2;
    top: 125px;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    background-color: rgba(0,0,0,.05);
}
.arrow-left
{
    left: 80px;
}
.arrow-right
{
    right: 80px;
}
.arrow .iconfont
{
    font-size: 32px;

    display: inline-block;

    margin: 16px 16px;

    color: #b1b1b1;
}
.arrow .iconfont:hover
{
    color: #fff;
}
.loop-circle
{
    position: absolute;
    z-index: 2;
    top: 280px;
    left: 650px;
}
.loop-circle li
{
    float: left;

    width: 12px;
    height: 12px;
    margin-left: 10px;

    border-radius: 50%;
    background-color: rgba(0,0,0,.03);
}
.loop-circle li:hover
{
    background-color: #fff;
}
.loop .download
{
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80px;

    background-color: rgba(0,0,0,.03);
}
.download ul
{
    margin: 0 200px;

    color: #fff;
}
.download li
{
    line-height: 80px;

    float: left;

    margin: 0 25px;

    cursor: pointer;
}
.download li:nth-of-type(evCen)
{
    width: 1px;
    height: 30px;
    margin-top: 25px;

    background-color: #b1b1b1;
}
.download li i
{
    font-size: 25px;

    padding-right: 10px;
}
/*歌曲推荐*/
.recommend-song
{
    height: 450px;
    margin-top: 100px;
}
.r-nav
{
    height: 80px;
}
.r-nav h1
{
    line-height: 65px;

    float: left;

    margin-right: 30px;
}
.r-nav ul
{
    float: left;
}
.r-nav li
{
    line-height: 80px;

    float: left;

    margin: 0 25px;
}
.r-nav li a
{
    position: relative;
    z-index: 1;

    color: #000;
}
.r-img li
{
    position: relative;

    float: left;
}
.r-img li:nth-child(-n+4)
{
    margin-right: 32.5px;
}
.limit
{
    overflow: hidden;

    width: 250px;
    height: 250px;
}
.limit img
{
    width: 100%;
    height: 100%;
}
.r-img li:hover img
{
    transform: scale(1.1);
}
.r-img li span
{
    font-weight: 400;

    display: block;

    margin-top: 10px;
}
.r-img li span .icon-arrow-right
{
    color: #b1b1b1;
}
.r-img li .icon-1_music94
{
    font-size: 50px;

    position: absolute;
    top: 100px;
    left: 100px;

    color: #fff;
}
.icon-arrow-right ~ b
{
    font-weight: 400;

    color: #b1b1b1;
}
.icon-arrow-right ~ i
{
    font-weight: 400;

    color: #b1b1b1;
}
/*精选活动*/
.activity
{
    height: 360px;
}
.activity h1
{
    margin-bottom: 40px;
}
.activity-img a:nth-child(1)
{
    float: left;
}
.activity-img a:nth-child(2)
{
    float: right;
}
.activity-img img
{
    width: 650px;
}
/*排行*/
.ranking
{
    height: 680px;
}
.ranking .title
{
    margin-bottom: 40px;
}
.ranking .title b
{
    font-size: 34px;

    margin-right: 30px;
}
.ranking .title a
{
    color: #b1b1b1;
}
.ranking-img > li
{
    float: left;

    width: 250px;
    height: 540px;
    margin-right: 32.5px;

    background-color: #fff;
}
.ranking-img > li:nth-child(5)
{
    margin-right: 0;
}
.ranking-img .bgimg
{
    position: relative;

    overflow: hidden;

    width: 250px;
    height: 150px;

    background: url('../img/recommend1.jpg') no-repeat;
    background-position: 0 -50px;
    background-size: 250px 250px;
}
.ranking-img .bgimg img
{
    width: 150px;
    height: 100px;
    margin: 25px 50px;
}
.ranking-img li .icon-1_music94
{
    font-size: 45px;

    position: absolute;
    right: 10px;
    bottom: 10px;

    opacity: 0;
    color: #fff;
}
.ranking-img .bgimg:hover .icon-1_music94
{
    opacity: 1;
}
.text li
{
    margin-top: 30px;
    margin-left: 10px;
}
.text .paiming
{
    float: left;

    width: 32px;
    height: 32px;
    margin-right: 15px;

    text-align: center;
}
/*推荐歌手*/
.recommend-singer{
	width:100%;
	height:380px;
}
.recommend-singer h1{
	float: left;
}
.recommend-singer .singer-nav li{
	float: left;
	line-height: 50px;
	padding: 0px 25px;
}
.recommend-singer li a{
	position: relative;
	color:black;
	z-index: 1;
}
.singer-img{
	margin-top:30px;
}
.singer-img li{
	float: left;
}

.singer-img li img{
	width: 210px;
	height: 210px;
	border-radius: 50%;
	cursor: pointer;
	overflow:hidden
}
.singer-img li:nth-child(n+2){
	margin-left: 24px;
}
.singer-img li{
	text-align: center;
}
.singer-img li div{
	margin-top: 8px;
}
.singer-img li a:nth-of-type(2){
	color:#b1b1b1b1;
	font-size: 14px;
}
.radio li{
	position: relative;
	float: left;
	width:440px;
	height: 110px;
	margin: 0px 4px;
	margin-bottom:  5px;
}
.radio li img{
	float: left;
	width: 110px;
	height: 110px;
}
.radio li div{
	float: left;
	width: 310px;
	height: 78px;
	margin-top: 30px;
	margin-left: 20px;
	border-bottom: 2px solid #f0f0f0;
}
.radio li span{
	position: absolute;
	top:45px;
	left: 45px;
	font-size: 25px;
	color: #fff;
	opacity: 0;
}
.radio li img:hover~span{
	opacity: 1;
}
.radio li span:hover{
	opacity: 1;
}
.footer
{
	width:100%;
	background-color: #111111;
    height: 300px;
}
.footer-first{
	width:100%;
	height: 200px;
	margin:0 auto;
	background-color: #222222;;
}
.footer-first dl{
	float: left;
	margin-top: 40px;
	color: #fff;
	font-size: 14px;
}
.footer-first dl:nth-of-type(2){
		margin: 0px 200px;
		margin-top: 40px;
}
.footer-down div{
	float: left;
	margin-top: 50px;
	margin-right: 30px;
	text-align: center;
}
.footer-down div span{
	color: #b1b1b1;
	font-size: 32px;
}
.footer-down div p{
	font-size: 12px;
}
.declaration div{
	margin-top: 40px;
	width: 250px;
	height: 
}
.declaration div span{
	margin-right: 20px;
	margin-top:10px;
	color:#b1b1b1;
}
.declaration div span:nth-of-type(odd){
	float: left;
}
.declaration div span:nth-of-type(even){
	float: right;
}
.other{
	width: 250px;
}
.other ul{
	margin-top:40px;
}
.other li{
	float: left;
	margin-right: 20px;
	margin-top:10px;
	color: #b1b1b1;
}
/*侧导航栏*/
.asid{
	position: fixed;
	display: none;
    right:  15px;
	bottom: 150px;
	width: 50px;
	height: 300px;
}
.asid li{
	margin-bottom: 10px;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: #f0f0f0;
	line-height: 50px;
	font-size: 18px;
	font-weight: bold;
}
.asid li a{
	color:#555555;
}
.asid li:nth-child(1):hover{
	color:#333333;
}
.asid li:nth-child(2):hover span{
	color:#32CD99;
}
.asid li:nth-child(3):hover span{
	color:black;
}
.asid li:nth-child(4):hover span{
	color:#38b0de;
}
.asid li span{
	line-height: 50px;
	font-size: 32px;
}
.bottom-play{
	position: fixed;
	bottom: -80px;
	left: 0px;
	background-color: #f0f0f0;
	height: 80px;
	width: 100%;
}
.song-play{
	position: relative;
}
.progress{
}
.progress>div{
	margin-top: 25px;
	margin-left: 5px;
	width: 400px;
	overflow: hidden;
}
.progress img{
	width:80px;
	height: 80px;
}
.current-progress{
	position: relative;
	width:100%;
	height: 3px;
	margin-top:10px;
	border-radius: 5px;
	background-color: yellow;
}
.current-progress-after{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 3px;
	width: 0%;
	border-radius: 3px;
	background-color: blue;
}
.audio{
	width: 200px;
	height: 80px;
	margin-left: 160px;
}
.audio span:nth-child(odd){
	line-height: 80px;
	font-size: 25px;
	vertical-align: middle;
}
.audio span:nth-child(2){
	line-height: 80px;
	margin: 0px 15px;
	font-size: 32px;
	vertical-align: middle;
}
.choice li{
	float: left;
	margin: 0 6px;
}
.choice li span{
	font-size: 25px;
	line-height: 80px;
}
.song-list{
	position: relative;
}
.song-list i{
	position: absolute;
	top: -35px;
	right: -3px;
	font-size: 5px;
	font-style: normal;
}
.pingzhi{
	margin-top: 25px;
	margin-left: 20px;
	width:68px;
	height: 28px;
	line-height: 30px;
	border:1px solid #000;
	text-align: center;
	border-radius: 30px;
}
.volume{
	width:100px;
	margin-left:  50px;
}
.volume span{
	font-size: 25px;
	line-height: 80px;
}
.volume-progress{
	position: relative;
	margin-top:38.5px;
	margin-left: 5px;
	width: 70px;
	height: 3px;
	border-radius: 3px;
	background-color: yellow;
}
.volume-progress-after{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 3px;
	width: 10%;
	border-radius: 3px;
	background-color: blue;
}
.half-circle{
	position: absolute;
	top:-40px;
	right: 0px;
	padding-top: 10px;
	width: 70px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	background-color: #f0f0f0;
	z-index: -1;
}
.half-circle span{
	font-size: 32px;
}